/* header */
@media(max-width:481px) {
    .main_header {
        padding: 28px 20px;

    }

    .header_imgs {
        column-gap: 16px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .header_right {
        width: 32px;
        height: 32px;
    }

    /* section1 */
    .section1 {
        height: 480px;
    }

    .section1_title,
    span {
        font-size: 24px;
    }

    /* section2 */

    .section2_title {
        font-size: 24px;
        line-height: 32px;
    }

    .line {
        width: 156px;
    }

    .section2 {
        padding: 32px 0 32px 20px;
    }
    /* about */
    .about_section{
        padding: 32px 20px;
    }
    .filter{
        display: none;
    }
    .best_selling{
        display: none;
    }
}

@media(max-width:321px) {
    .main_header {
        padding: 28px 8px;

    }

    .header_imgs {
        column-gap: 16px;
    }

    /* section1 */
    .section1 {
        height: 320px;

    }

    .section1_title,
    span {
        font-size: 24px;
    }

    /* section2 */
    .section2 {
        padding: 32px 0 32px 8px;
    }
    /* about */
    .about_section{
        padding: 32px 8px;
    }
}