.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* header */
.main_header {
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #012426;
    display: flex;
    padding: 16px 94px;
    justify-content: space-between;
    align-items: center;


}

.burger {
    display: none;
    font-size: 32px;
    color: #05BCCA;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li a {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.header_imgs {
    display: flex;
    column-gap: 32px;
}

/* section1 */
.section1 {
    background-image: url(/img/Rectangle\ 12.png);
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

}

.section1_title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    padding-top: 72px;

}

span {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #05BCCA;
}

.section1_button {
    width: 36px;
    height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #C46A2B;
    margin: 78px 0 0 24px;
}

.arrow {
    color: white;
    font-size: 17px;
}

/* section2 */
.section2 {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 94px;
    height: 716px;
}

.section2_title_div {
    padding-bottom: 64px;
}

.section2_title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}

.line {
    border: 2px solid #05BCCA;
    width: 187px;
}

.cards {
    display: flex;
    column-gap: 28px;
    width: 100%;
    object-fit: cover;
}

.div_card {
    background-color: #2C4246;

}

.cards_1 {
    padding: 8px;
}

.section2_card_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    padding-left: 8px;
}

.price {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
}

.price_div {
    display: flex;
    column-gap: 136px;
    padding: 16px 8px;
}

/* footer */
.header_footer {
    background-color: #2C4246;
    padding: 48px 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 223px;
}

.first_footer {
    display: flex;
    flex-direction: column;
}

.line1 {
    border: 2px solid #D9D9D9;
    width: 80px;
    margin-bottom: 24px;

}

.first,
.second,
.third {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
}

.first_text,
.second_text,
.third_text {
    margin-top: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.social_media {
    display: flex;
    flex-wrap: nowrap;
}

.whatsapp {
    padding-inline: 16px;
}